# Dzie≈Ñ czwarty DWthon - Hack Outside the Box 

*Dzisiaj zaczniemy ju≈º trenowaƒá modele ML, dla Ciebie to oznacza, ≈ºe jeste≈õ we w≈Ça≈õciwym miejsce do praktykowania, zdobywania nowych praktycznych umiejƒôtno≈õci (w tym kodowanie, ML... ale co≈õ wiƒôcej), inspiracja, poznawania ciekawych ludzi. Co wa≈ºne, zaoszczƒôdzanie czasu, bo materia≈Ç jest tak pouk≈Çadany, aby jak najszybciej daƒá Ci mo≈ºliwo≈õƒá czerpaƒá gar≈õciami praktycznƒÖ wiedzƒô. Ciszƒô siƒô, ≈ºe jeste≈õ z nami ü•≥* Zaczynamy?

### Celem jest wytrenowaƒá modele - zajmiemy siƒô  `machine learning` w dzia≈Çaniu ü§ñ

Dzisiaj wytrenujemy kilka modeli. Najpierw poznasz drzewa decyzyjne, a nastƒôpnie zastosujemy `gradient boosting`. Je≈õli dopiero zaczynasz, to te nazwy nic Ci nie m√≥wiƒÖ. W≈Ça≈õciwie i nie muszƒÖ, najwa≈ºniejsze dzisiaj jest to, aby uda≈Ço Ci siƒô wytrenowaƒá modele, nawet je≈õli jest to dla Ciebie "black-box", czyli nie wiesz, co tam siƒô dzieje w ≈õrodku, ale wiesz, ≈ºe uda≈Ço siƒô wytrenowaƒá!

### Gdzie zadawaƒá pytania ‚ùì 

Je≈õli napotkasz trudno≈õci podczas wykonywania zada≈Ñ z tego notebooka, to koniecznie napisz w kanale [dwthon_day4](https://bit.ly/30zgHbn)

Pamiƒôtaj, aby szczeg√≥≈Çowo doprecyzowaƒá, z czym masz problem. Najlepiej wrzuƒá screen z kodem swoim lub b≈Çƒôdem, kt√≥ry widzisz i napisz, kt√≥rego zadania dotyczy :)

In [1]:
%%html
<iframe style="height:500px;width:100%" src="https://www.youtube.com/embed/ntJGWqkFINE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

### Krok po kroku 

Nagra≈Çem dla Ciebie tak≈ºe materia≈Ç wideo "krok po kroku". W wideo poni≈ºej znajduje siƒô dok≈Çadnie to, co w tym notebooku tylko t≈Çumaczƒô wszystko, aby u≈Çatwiƒá Ci pracƒô i zrozumienie zagadnie≈Ñ i zada≈Ñ :) Obejrzyj, je≈õli potrzebujesz takiego dodatkowego wsparcia.

In [2]:
%%html
<iframe style="height:500px;width:100%" src="https://www.youtube.com/embed/Jxo4Oy_KxfY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

## Biblioteki

Potrzebujemy `pandas` i jeszcze trochƒô wiƒôcej innych bibliotek. 
* `DecisionTreeClassifier` - do trenowania modelu
* `sklearn.model_selection` walidacja modelu
* `gc` do sprzƒÖtania w pamiƒôci RAM

In [3]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score, GroupKFold

import gc

## Wczytajmy dane

In [4]:
df = pd.read_hdf("../input/data.h5")

print(df.shape)
df.sample(5)

(820906, 9)

,order_id,customer_id,product_id,quantity,price_unit,price_total,country_id,order_date,is_canceled
802386,51972,3810,120,6,295,1770,0,2010-11-29 12:49:00,False
624701,41135,1186,1281,32,42,1344,0,2010-07-22 19:56:00,False
56201,4048,1226,365,2,95,190,0,2011-02-13 12:03:00,False
136496,9660,1096,236,24,125,3000,1,2011-05-18 10:34:00,False
715748,46954,2230,0,32,254,8128,0,2010-10-14 09:31:00,False

## üéØ Zmienna docelowa 

Musimy ustaliƒá, co chcemy prognazowaƒá. Mo≈ºemy prognozowaƒá r√≥≈ºne rzeczy, ML model chƒôtnie nam w tym pomo≈ºe. Natomiast musimy jawnie mu pokazaƒá, na czym nam zale≈ºy! Pomy≈õl w ten spos√≥b. *Machine Learning* (ML) jest takƒÖ wr√≥≈ºkƒÖ üßö, kt√≥ra pr√≥buje spe≈Çniƒá to, na czym nam zale≈ºy, ale musimy wiedzieƒá, czego chcemy :). 

Za≈Ç√≥≈ºmy, ≈ºe na poczƒÖtek, chcemy umieƒá prognazowaƒá, czy klient X nale≈ºy do segmentu `most_revenue_customer`. W takim razie policzmy `top_customers` (tak, jak to robili≈õmy ostatnio).

In [5]:
df_customers = (
    df[ ["price_total", "customer_id"] ]
    .groupby("customer_id")
    .agg("sum")
    .reset_index()
    .sort_values(by="price_total", ascending=False)
    .rename(columns={"price_total": "customer_price_total"})
)


df_customers["cumsum"] = df_customers["customer_price_total"].cumsum()
value_80prc = int(df["price_total"].sum() * 0.8)
df_customers["most_revenue_customer"] = df_customers["cumsum"] < value_80prc


top_customers = set(df_customers[ df_customers["most_revenue_customer"] ]["customer_id"].unique())

del df_customers
gc.collect()

0

Na ko≈Ñcu wywo≈Çali≈õmy: 

```
del df_customers
gc.collect()
```

To dlatego, aby zwolniƒá pamiƒôƒá. Ju≈º nie potrzebujemy zmiennej `df_customers`, potrzebowali≈õmy jej to po to, aby wyliczyƒá `top_customers`. S≈Çowa kluczowe `del` zwalnia zasoby, natomiast `gc.collect()` wo≈Ça "sprzƒÖtacz" (ang. `garbage collector`), aby posprzƒÖta≈Ç jak najszybciej. 

Tak nawiasem m√≥wiƒÖc, fajnny jest ten ≈õwiat IT - chcesz posprzƒÖtaƒá üóëÔ∏è, wtedy wo≈Çasz `gc.collect()` i ju≈º masz üí™.


## Klienci
Teraz mamy nasz oryginalny zbi√≥r danych sprowadziƒá do pojedy≈Ñczych klient√≥w. Innymi s≈Çowy jeden wiersz to jeden unikalny klient. W tym celu u≈ºyjemy tak jak ostatnio `groupby` po `customer_id`.


Dodatkowo zrobimy bardziej zaawansowanƒÖ agregacjƒô, poniewa≈º przyszed≈Ç na to ju≈º czas:).

Jako przyk≈Çad: `count_orders=("order_id", lambda x: len(set(x)))`

Ten wpis oznacza, ≈ºe nowa kolumna bƒôdzie mia≈Ça nazwƒô `count_orders`. Natomiast aby ta kolumna powsta≈Ça, to bierzemy oryginalnƒÖ kolumnƒô o nazwie `order_id` i u≈ºywamy do tego funkcjƒô agregujƒÖcƒÖ `lambda x: len(set(x))`. Konkretnie w tym przypadku liczymy liczbƒô unikalnych zamowie≈Ñ.

##### ‚òùÔ∏èUwaga! Je≈õli to, co jest poni≈ºej w `agg` dla Ciebie jest trudne, nie przejmuj siƒô tym! Na ten moment to jest malo istotne, aby dok≈Çadnie zrozumieƒá, jak to pisze siƒô na poziomie kodu. Wa≈ºne jest to, ≈ºe rozumisz, ≈ºe chcemy dla ka≈ºdego klienta policzyƒá, ile ma zam√≥wie≈Ñ albo ile kupi≈Ç unikalnych produkt√≥w itd.

In [6]:
df_customers = (
    df
    .groupby("customer_id")
    .agg(
        count_orders=("order_id", lambda x: len(set(x))),
        count_unq_products=("product_id", lambda x: len(set(x))),
        sum_quantity=("quantity", np.sum),
        sum_price_unit=("price_unit", np.sum),
        sum_price_total=("price_total", np.sum),
        count_unq_countries=("country_id", lambda x: len(set(x))),
        prob_canceled=("is_canceled", np.mean)
    ).reset_index()
)

df_customers["most_revenue_customer"] = df_customers["customer_id"].map(lambda x: x in top_customers)

df_customers

,customer_id,count_orders,count_unq_products,sum_quantity,sum_price_unit,sum_price_total,count_unq_countries,prob_canceled,most_revenue_customer
0,0,159,93,22976,895827,5746671,1,0.010966,True
1,1,40,184,3514,205962,910113,1,0.097727,True
2,2,30,139,8971,95500,1337464,1,0.009050,True
3,3,9,40,1108,18626,226381,1,0.000000,False
4,4,14,11,390,20028,346978,1,0.307692,True
...,...,...,...,...,...,...,...,...,...
5874,5874,2,46,213,15654,48343,1,0.040000,False
5875,5875,1,21,261,4944,30081,1,0.000000,False
5876,5876,1,69,367,33622,110868,1,0.000000,False
5877,5877,1,33,85,7995,13458,1,0.000000,False
5878,5878,2,1,2,2190,2190,1,0.500000,False

Dodatkowo u≈ºywali≈õmy wcze≈õniej wyliczonego `top_customers`, aby powsta≈Ça nasza zmienna docelowa `most_revenue_customer`.

Sprawd≈∫my przy okazji (przypomnijmy), jaki jest rozk≈Çad.

In [7]:
df_customers["most_revenue_customer"].value_counts(normalize=True)

False    0.774792
True     0.225208
Name: most_revenue_customer, dtype: float64

Mamy 22,5% klilent√≥w nale≈ºƒÖcych do `top_customers`. 

Dobra! Czas na trenowanie modelu.

# Szybki s≈Çowniczek ML


## Co to jest algorytm (np. drzewa decyzyjne)?
To jest pewna sekwencja krok√≥w, kt√≥ra bƒôdzie wykonywana, aby trenowaƒá model (i nauczyƒá go najlepiej).


## Czym jest model?
Jest pewnym "stanem" tego, co uda≈Ço siƒô znale≈∫ƒá w danych historycznych.

Przyk≈Çad przez analogiƒô.

Algorytm - to jest przepis na danie. Model to jest przygotowane dane. 
Przepis jest jeden, ale da≈Ñ mo≈ºe powstaƒá million i bƒôdƒÖ r√≥≈ºne w zale≈ºno≈õci od tego, co by≈Ço podane "na wej≈õciu" (wrzucone do miski).


## Co to oznacza trenowaƒá model?

Jest to proces, kiedy model poszukuje zale≈ºno≈õci (korelacji) w danych historycznych. Wynikiem trenowania jest model, kt√≥rego potem mo≈ºemy u≈ºywaƒá do prognozowania przysz≈Ço≈õci (lub w inny spos√≥b, sƒÖ r√≥≈ºne kreatywne podej≈õcia).


## Co to sƒÖ cechy?
To sƒÖ w≈Ça≈õciwo≈õci obiekt√≥w. W naszym przypadku cechami dla klienta mo≈ºe byƒá: liczba zam√≥wie≈Ñ, liczba produkt√≥w itd.

Mo≈ºna powiedzieƒá, ≈ºe cechy to sƒÖ kolumny w naszej tablicy (pomijajƒÖc zmiennƒÖ docelowƒÖ).

## Co to jest zmienna docelowa?
To jest to, co model bƒôdzie prognozowa≈Ç. 

Mo≈ºna powiedzieƒá, ≈ºe to jest kolumna w naszej tabeli, na kt√≥rej nam zale≈ºy.


## Dlaczego zmienna docelowa nie mo≈ºe byƒá w cechach?
Model jest "sprytny". On od razu "z≈Çapie", ≈ºe to jest odpowied≈∫ i bƒôdzie jƒÖ zwraca≈Ç. Natomiast jaka jest z tego warto≈õƒá? Je≈õli ma z g√≥ry wiadomƒÖ odpowied≈∫. To nie ma sensu przepuszczaƒá tego przez model.

Przyk≈Çad.

Je≈õli my z g√≥ry wiemy, ≈ºe ten klient nale≈ºy do segmentu `top_customers`, to ju≈º to wiemy. Po co nam wtedy model? Druga sprawa, ≈ºe zwykle nie wiemy, ale znamy inne cechy tego klienta (np. ilu ju≈º dokona≈Ç zam√≥wie≈Ñ, jakie produkty kupi≈Ç itd.) i na podstawie tej informacji pr√≥bujemy wnioskowaƒá, czy bƒôdzie nale≈ºa≈Ç do segmentu `top_customers` czy te≈º nie.


## Po co trenujemy model?
Zwykle po to, aby prognozowaƒá w przysz≈Ço≈õƒá. W naszym przypadku chodzi o bardziej kreatywne podej≈õcie i dok≈Çadnie to zobaczysz jutro. Dzisiaj skupmy siƒô na tym, aby wytrenowaƒá model i to dobrze, wg metryki sukcesu.


## Co to jest metryka sukcesu?
To jest spos√≥b, aby zmierzyƒá jako≈õƒá modelu. Pomy≈õl o tym w ten spos√≥b. Mamy dwa r√≥≈ºne modele. Mamy dwa ro≈ºne wyniki, w jaki spos√≥b mo≈ºemy stwierdziƒá, kt√≥ry model jest lepszy? Metryka sukcesu sprowadza siƒô do tego, ≈ºe "kompresuje" jako≈õƒá modelu do pojedynczej liczby. Wtedy dwa r√≥≈ºne modele dostaje dwie r√≥≈ºne liczby, kt√≥re mo≈ºna por√≥wnaƒá pomiƒôdzy sobƒÖ.

Przyk≈ÇadowƒÖ metrykƒÖ jest dok≈Çadno≈õƒá. Np. model A ma dok≈Çadno≈õƒá 95%, model B ma 99%. Wychodzi na to, ze model B jest lepszy. Chocia≈º co do metryki jest bardzo du≈ºo niuans√≥w, kt√≥re koniecznie trzeba rozumieƒá, ale nie wnikajmy w te szczeg√≥liki teraz.



### ü§î Zwr√≥ƒá uwagƒô, ≈ºe liczba pyta≈Ñ "dlaczego?" mo≈ºe byƒá znacznie wiƒôksza. Celem DWthon jest bardziej przeprowadziƒá Ciƒô od punktu A do punktu B  i pokazaƒá, ≈ºe te≈º mo≈ºesz, nawet je≈õli czasem bardzo mocno prowadzƒô Ci rƒÖczkƒô. Je≈õli sam proces Ci spodoba≈Ç siƒô to kolejnym krokiem jest poznaƒá wiƒôcej szczeg√≥≈Ç√≥w, jak dzia≈Ça model, jak dzia≈Ça walidacja i jeszcze sporo wa≈ºnych niuans√≥w. Zapraszam Ciƒô na 8 tygodniowy [online kurs praktyczne uczenie maszynowe od podstaw](https://dataworkshop.eu/pl/practical-machine-learning?utm_source=dwthon&utm_medium=notebook&utm_campaign=python&utm_term=day4&utm_content=jupyter). Ju≈º  3000+ os√≥b przerobi≈Ço go z takich firm jak Google, Orange, Oracle, IBM, Microsoft, Intel, Allegro, Nokia i wiele innych. Tu mo≈ºesz zobaczyƒá [opinie absolwent√≥w](https://bit.ly/3vcz3wU).


Wracamy. Przygotujemy teraz cechy.

Poni≈ºej bƒôdzie kod, kt√≥ry robi prostƒÖ rzeczy, mianowicie zostawia tylko takie kolumne, kt√≥re sƒÖ numerczyne albo `boolean` (czyli kolumne, kt√≥re majƒÖ warto≈õci `True` lub `False`).

In [8]:
feats = list(df_customers.select_dtypes([np.number, bool]).columns)

feats

['customer_id',
 'count_orders',
 'count_unq_products',
 'sum_quantity',
 'sum_price_unit',
 'sum_price_total',
 'count_unq_countries',
 'prob_canceled',
 'most_revenue_customer']

Jak widzisz mamy ju≈º nazwy cech, ale trafi≈Ço do nich `most_revenue_customer`, czyli nasza zmienna docelowa. Nale≈ºy jƒÖ usunƒÖƒá. Mo≈ºemy zrobiƒá takƒÖ listƒô cech, kt√≥rƒÖ chemy zignorowaƒá. W tej chwili w tej li≈õcie bƒôdzie tylko jedna kolumna `most_revenue_customer`, ale spokojnie mo≈ºna dodawaƒá wiƒôcej.

In [9]:
black_list = ["most_revenue_customer"]
feats = [x for x in feats if x not in black_list]

Zosta≈Ç nam minimalny krok do postawienia, aby powsta≈Ç tak zwany `X` oraz `y`.

- `X` - to jest macierz cech.
- `y` - to jest nasza zmienna docelowa.

In [10]:
X = df_customers[feats].values
y = df_customers["most_revenue_customer"].values

In [13]:
df_customers[feats]

,customer_id,count_orders,count_unq_products,sum_quantity,sum_price_unit,sum_price_total,count_unq_countries,prob_canceled
0,0,159,93,22976,895827,5746671,1,0.010966
1,1,40,184,3514,205962,910113,1,0.097727
2,2,30,139,8971,95500,1337464,1,0.009050
3,3,9,40,1108,18626,226381,1,0.000000
4,4,14,11,390,20028,346978,1,0.307692
...,...,...,...,...,...,...,...,...
5874,5874,2,46,213,15654,48343,1,0.040000
5875,5875,1,21,261,4944,30081,1,0.000000
5876,5876,1,69,367,33622,110868,1,0.000000
5877,5877,1,33,85,7995,13458,1,0.000000
5878,5878,2,1,2,2190,2190,1,0.500000

### Trenujemy model

Na poczƒÖtkek u≈ºyjemy drzewa decyzjnego. Jak wspomnia≈Çem wcze≈õniej, nie musisz wiedzieƒá z g√≥ry, jak dzia≈Ça ten model, potraktuj go jako "black-box", kt√≥ry "jako≈õ" potrafi siƒô uczyƒá.

In [14]:
scores = cross_val_score(DecisionTreeClassifier(max_depth=5), X, y, scoring="accuracy", cv=5)
np.mean(scores), np.std(scores)

(0.9996598639455783, 0.0004165798882284457)

Dostali≈õmy bardzo dobry wynik: 99% dok≈Çadno≈õci. Gratulujƒô! Wla≈õnie powsta≈Ç Tw√≥j pierwszy model.

## Zadanie 4.1

Przed chwilƒÖ trenowali≈õmy model dla `top_customers`. Twoim zadaniem jest wytrenowaƒá model `top_products`


### üí° Podpowiedzi: 

1. Najpierw przygotuj zbi√≥r `top_products`.
2. Nastƒôpnie przygotuj `df_products`, kt√≥ry bƒôdzie zawiera≈Ç przydatne cechy (zainspiruj siƒô jak to zrobili≈õmy dla `df_customers`).
3. Nastƒôpnie przygotuj `feats`, `X` i `y`.
4. Wytrenuj model (np. `DecisionTreeClassifier`). 
5. Podziel siƒô wynikiem :)

In [16]:
df_products = (
    df[ ["price_total", "product_id"] ]
    .groupby("product_id")
    .agg("sum")
    .reset_index()
    .sort_values(by="price_total", ascending=False)
    .rename(columns={"price_total": "product_price_total"})
)


df_products["cumsum"] = df_products["product_price_total"].cumsum()
value_80prc = int(df["price_total"].sum() * 0.8)
df_products["most_revenue_product"] = df_products["cumsum"] < value_80prc


top_products = set(df_products[ df_products["most_revenue_product"] ]["product_id"].unique())

del df_products
gc.collect()

23

In [17]:
df_products = (
    df
    .groupby("product_id")
    .agg(
        count_orders=("order_id", lambda x: len(set(x))),
        count_unq_products=("customer_id", lambda x: len(set(x))),
        sum_quantity=("quantity", np.sum),
        sum_price_unit=("price_unit", np.sum),
        sum_price_total=("price_total", np.sum),
        count_unq_countries=("country_id", lambda x: len(set(x))),
        prob_canceled=("is_canceled", np.mean)
    ).reset_index()
)

df_products["most_revenue_product"] = df_products["product_id"].map(lambda x: x in top_products)

df_products

,product_id,count_orders,count_unq_products,sum_quantity,sum_price_unit,sum_price_total,count_unq_countries,prob_canceled,most_revenue_product
0,0,5028,1494,97329,1525206,26097687,22,0.025179,True
1,1,614,293,4638,248166,1650981,6,0.028358,True
2,2,736,320,7160,261086,2267898,11,0.016753,True
3,3,1475,706,16707,742149,5850395,14,0.009699,True
4,4,601,324,3804,552166,2979279,17,0.037994,True
...,...,...,...,...,...,...,...,...,...
3873,4231,1,1,1,465,465,1,0.000000,False
3874,4236,4,4,29,340,2465,1,0.000000,False
3875,4237,2,2,5,590,1475,1,0.000000,False
3876,4238,1,1,200,1942,388400,1,0.000000,False
3877,4239,2,1,16,6380,24720,1,0.500000,False

In [18]:
df_products["most_revenue_product"].value_counts(normalize=True)

False    0.761475
True     0.238525
Name: most_revenue_product, dtype: float64

In [22]:
feats = list(df_products.select_dtypes([np.number, bool]).columns)

# feats

black_list = ["most_revenue_product"]
feats = [x for x in feats if x not in black_list]

X = df_products[feats].values
y = df_products["most_revenue_product"].values

In [23]:
df_products[feats]

,product_id,count_orders,count_unq_products,sum_quantity,sum_price_unit,sum_price_total,count_unq_countries,prob_canceled
0,0,5028,1494,97329,1525206,26097687,22,0.025179
1,1,614,293,4638,248166,1650981,6,0.028358
2,2,736,320,7160,261086,2267898,11,0.016753
3,3,1475,706,16707,742149,5850395,14,0.009699
4,4,601,324,3804,552166,2979279,17,0.037994
...,...,...,...,...,...,...,...,...
3873,4231,1,1,1,465,465,1,0.000000
3874,4236,4,4,29,340,2465,1,0.000000
3875,4237,2,2,5,590,1475,1,0.000000
3876,4238,1,1,200,1942,388400,1,0.000000
3877,4239,2,1,16,6380,24720,1,0.500000

In [24]:
scores = cross_val_score(DecisionTreeClassifier(max_depth=5), X, y, scoring="accuracy", cv=5)
np.mean(scores), np.std(scores)

(0.999484203525108, 0.0006317193061419072)

Jak **wykonasz** zadanie, nale≈ºy zrobiƒá:

1. Zrzut ekranu na kt√≥rym widaƒá rozwiƒÖzania, wtedy dostaniesz bonus :)
2. Wrzuciƒá rozwiƒÖzanie na slacku do pokoju **[#dwthon_day4_done](https://bit.ly/30yqIWm)**
3. Dostaƒá bonus za dobrƒÖ robotƒô üí™ i jutro bƒôdzie kolejna porcja.

*Uwaga! Je≈õli masz problem z jakim≈õ zadaniem, czego≈õ nie wiesz, to pamiƒôtaj, ≈ºe mo≈ºesz zadawaƒá pytania! Na tym polega nauka :) Pytania zwiƒÖzane z 2 dniem DWthon zadawaj w kanale [#dwthon_day4](https://bit.ly/30zgHbn)*.

## Dodatkowe zadania


Przechodzimy do dodatkowych zada≈Ñ i rozwa≈ºa≈Ñ. Nie musiz tego robiƒá, ale chyba warto :).

## üß† W≈ÇƒÖczmy my≈õlenie krytycznie


Pomy≈õlmy, co tak dok≈Çadnie teraz robimy.

Mamy listƒô naszych klient√≥w w momencie X (ostatni zakup), ale przecie≈º o≈õ czasu jest bardzo wa≈ºna. Zbadajmy to na przyk≈Çadzie.

In [25]:
df["order_date"].min(), df["order_date"].max()

(Timestamp('2009-12-01 07:45:00'), Timestamp('2011-12-09 12:50:00'))

Mamy dane od `2009-12-01 07:45:00` do `2011-12-09 12:50:00`. 

Jak trenujemy model, to do modelu przekazujemy ca≈ÇƒÖ historiƒô, jakƒÖ mamy na temat klienta. To wszystko powoduje, ≈ºe model uczy siƒô na sytuacjach, kiedy ju≈º o kliencie wiemy "do≈õƒá du≈ºo". Tak naprawdƒô mo≈ºe byƒá tak, ≈ºe ju≈º nie trzeba z≈Ço≈ºonego modelu, aby zobaczyƒá, ≈ºe to jest klient z segmentu `top_customer`.

Fajnie by≈Ço trenowaƒá model trochƒô inaczej i wykrywaƒá jego potencja≈Ç jeszcze na samym poczƒÖtku.

Pomy≈õl o tym w ten spos√≥b.


Mamy historiƒô o kliencie np. na 2 lata. Wiemy, ≈ºe on jest w segmencie `top_customer`. Natomiast do tego segmentu do≈ÇƒÖczy≈Ç siƒô dopiero... powiedzmy po 15 miesiƒÖcach. Je≈õli przesuniemy w czasie to pomiƒôdzy 0-15 miesiƒÖcem nie by≈Ço jednoznaczno≈õci, ≈ºe ten klient bƒôdzie w `top_customer`, po 15 miesiƒÖcach ju≈º tam jest, wiƒôc nawet nie trzeba ML, aby to uznaƒá.


### Co mo≈ºemy zrobiƒá?
No w≈Ça≈õnie to jest dobre pytanie. Zrozumienie osi czasu w ML jest bardzo wa≈ºne i z mojego do≈õwiadczenia wynika, ≈ºe w≈Ça≈õnie tutaj pope≈Çnia siƒô najwiƒôcej b≈Çƒôd√≥w w szczeg√≥lno≈õci przez poczƒÖtkujƒÖcych.


## üß† W≈ÇƒÖczmy my≈õlenie krytycznie
Porozwa≈ºajmy, jak mo≈ºemy wykorzystaƒá naszƒÖ sytuacjƒô. 

1. Wiemy, czym siƒô "sko≈Ñczy" (bo ju≈º jest w `top_customers`) lub tego jeszcze nie wiemy, bo kto≈õ tam bƒôdzie w przysz≈Ço≈õci (danych tych nie mamy jeszcze).
2. Ale chcemy pokazaƒá modelowi tylko odcinek danych (np. znamy historiƒô sprzed 2 lat, ale modelowi pokazujemy tylko pierwsze 10 miesiƒôcy, 12 miesiƒôcy , 15 miesiƒôcy).


Porozwa≈ºaj, jak mo≈ºemy trenowaƒá model, aby z jednej strony model dostawa≈Ç jak najmniej informacji (czyli jak najszybciej by≈Ç wstanie "rozpoznaƒá" potencja≈Ç). Jakie sƒÖ plusy i minusy (przynajmniej w Twoim odczuciu).


#### ‚òùÔ∏èZwr√≥ƒá uwagƒô, ≈ºe to nie chodzi o technicznƒÖ "rozkminƒô", jak to zrobiƒá (jako≈õ to siƒô napisze lub kogo≈õ mo≈ºna zapytaƒá). Chodzi bardziej, aby przemy≈õleƒá to koncepcyjnie, czyli pomy≈õleƒá, co chcemy osiƒÖgnƒÖƒá :) 

Na czym nam zale≈ºy? Czy model ma nauczyƒá sie na ju≈º bardziej zaawansowanym "stanie" klienta, kiedy historia jest wystarczajƒÖco d≈Çuga (np. 1-2 lata i tak ju≈º wiadoma, kto jest kto), czy bardziej wykrywaƒá jak najwcze≈õniej "z≈Çoty potencja≈Ç". To drugie brzmi jak co≈õ, co ma znacznie wiecej warto≈õci dodanej. Tutaj te≈º Machine Learning mo≈ºe mieƒá przewagƒô nad "klasycznƒÖ analitykƒÖ".

## ü§ùüó£Ô∏è Uruchom kooperacjƒô i komunikacjƒô


Fajnie by≈Çoby o tym podyskutowaƒá :) 


#### ‚òùÔ∏è Podziel siƒô swoimi przemy≈õleniami na slacku **[#dwthon_day4_ideas](https://bit.ly/3tcKIdn)**. Je≈õli masz pomys≈Ç, ale nie masz kodu - popro≈õ na slacku o pomoc, aby kto≈õ pom√≥g≈Ç Ci napisaƒá kod. Natomiast je≈õli masz kod, to koniecznie podziel siƒô. Dziƒôki temu kto≈õ inny bƒôdzie w stanie ≈Çatwo powt√≥rzyƒá i podzieliƒá siƒô swoimi przemy≈õleniami. Dziƒôki temu ka≈ºdy zyskuje :).

Uwaga! Aby to by≈Ço czytelne, proponujƒô dodawaƒá tagi do wiadmo≈õci na samym poczƒÖtku.

Na przyk≈Çad.
```
#how_to_train_model

Moje wnioski ...
1. ...
2. ...
3. ...
```

Zawarto≈õƒá pisz, jak Ci jest wygodnie, ale zacznijmy od tagu `#how_to_train_model`, dziƒôki temu ≈Çatwiej bƒôdzie mo≈ºna filtrowaƒá w≈õr√≥d innych wiadomo≈õci.

---

## Widzimy siƒô jutro!  üôå